$levels: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

$color-primary: #6086bc;
$color-secondary: #c4c4c4;
$color-light: #f1f7ff;
$color-white: #edeff3;
$color-black: #0e1013;

$colors: (
	"primary": $color-primary,
	"secondary": $color-secondary,
	"light": $color-light,
	"white": $color-white,
	"black": $color-black,
);

body {
	background-color: $color-light;
}

h4{
    font-weight: 700;
}

*{
	// font-family: "Varela Round", sans-serif;
    font-family: 'Nunito', sans-serif;
}

@each $class, $color in $colors {
	.bg-#{$class} {
		background-color: $color !important;
	}

	@each $level in $levels {
		.bg-#{$class}-subtle-#{$level} {
			background-color: rgba($color, $alpha: calc($level/100)) !important;
		}
	}

	.text-#{$class} {
		color: $color !important;
	}
}

.btn {
	border-radius: 0.2rem;
	padding: 0.25rem 0.75rem;
	color: $color-black;
	@each $class, $color in $colors {
		&.btn-#{$class} {
			background-color: $color;
			border-color: $color;
		}
	}
    &.icon-right{
        padding-inline-end: 0.2rem;
        .icon{
            padding: 0 0.5rem;
        }
    }
    &.icon-left{
        padding-inline-start: 0.2rem;
        .icon{
            padding: 0 0.5rem;
        }
    }
}

.card {
	border: none;
    border-radius: 0;
}

.modal{
    &.full_page{
        height: 100vh;
        width: 100%;
    }
}


main{
    &.choose_Solution{
        .form-wrapper{
            height: 70vh;
            overflow-y: scroll;
        }
    }
}